#container {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#container > input {
  margin: 10px;
}

#parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.box {
  border: 1px solid red;
  height: 100px;
  width: 100px;
  padding: 50px;
}
